* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 538px;
  background: #c3ddf3 url("your_verse_hero.jpg") 0 100% no-repeat;
  background-size: cover;
}

header nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background: gray;
  border-radius: 4px;
  box-shadow: 12px;
  width: 980px;
  height: 36px;
}

header nav img {
  height: 15px;
  vertical-align: top;
}

.header-text {
  padding-bottom: 40px;
  width: 100%;
  font-size: 2rem;
  font-weight: 100;
  color: white;
  text-align: center;
  text-decoration: none;
}

.header-text h1 {
  /* padding-bottom: 0; */
  font-size: 4.5rem;
  font-weight: 100;
}

.header-text img {
  vertical-align: middle;
}

#link:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

main a {
  width: 100%;
}

main img {
  width: 100%;
}
