* { box-sizing: border-box; }

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 538px;
  background: #c3ddf3 url("your_verse_hero.jpg") 0 100% no-repeat;
  background-size: cover;
}

header nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background: gray;
  border-radius: 4px;
  box-shadow: 12px;
  width: 980px;
  height: 36px;
}

header nav img {
  height: 15px;
  vertical-align: top;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

.main-text {
  width: 980px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: white;
  text-align: center;
  text-decoration: none;
}

.main-text h1 { font-weight: 100; }

